<div class="set-background-color set-position align-center" >
  <md-card>
  <md-card-content> 
  <md-input placeholder="Username" align="start" [(ngModel)]="login.username" class="set-input-width padding-17" required>
    <span md-prefix><md-icon class="material-icons gray">email</md-icon></span>
  </md-input>
  <md-input placeholder="Password" align="start" [(ngModel)]="login.password" class="set-input-width padding-17" required>
    <span md-prefix><md-icon class="material-icons gray">lock</md-icon></span>
  </md-input>
  </md-card-content>
  <button md-raised-button color="primary" type="submit" class="width-150" (click)="Submit()">Submit</button>
  <h3>Or</h3>
  <button md-raised-button color="primary" class="width-150" routerLink="/signup">Sign Up</button>
  </md-card>
</div>
