/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
  margin: 0;
  font-family: Roboto,san-serif;
   background-color:#e5e5e5;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
md-sidenav-layout {
    height: 100vh;
}

md-grid-list {
    max-width: 1403px;
    margin: 16px;
}
.gray {
  /*color: #9f9f9f;*/
  color:#673ab7;
}
md-sidenav {
    width: 320px;
}

.margin{
    margin-bottom: 10px;
}

a {
  text-decoration: none;
}
.set-margin-right {
  margin-right:20px;
}

.set-margin-left {
   margin-left:20px; 
}

.set-background-color {
    background-color:#bdc3c7;
   
}
.set-input-width {
    width:426px;
    margin: 0 auto;
}
.align-right {
    right: 0;
    position: absolute;
}
.cardboard-setting {
    width:700px;
    margin: 0 auto;
}

